@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/_reset\.scss}line{font-family:\000031}}
html,
body,
ul,
li,
p,
a {
  margin: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\000032}}
html,
body {
  width: 100%;
  height: 100%;
  background: #F5F5F5; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\000039}}
a {
  cursor: pointer;
  text-decoration: none;
  color: #333; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000315}}
li {
  list-style: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000319}}
h2 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-weight: 500; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000326}}
.wrapper {
  position: relative;
  min-width: 1000px;
  width: 100%;
  height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000333}}
.w-1000 {
  width: 1000px;
  height: 60px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000339}}
.logo {
  display: inline-block;
  height: 60px;
  margin-right: 60px;
  float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000344}}
  .logo img {
    width: 109px;
    margin-top: 10px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000350}}
.header {
  position: relative;
  background: #fff;
  height: 60px;
  border: solid 1px #ececec; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000355}}
  .header nav {
    display: inline-block;
    position: relative;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000359}}
    .header nav li {
      display: inline-block;
      position: relative;
      height: 60px;
      font-size: 14px;
      line-height: 60px;
      margin-right: 50px;
      cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000368}}
    .header nav a:hover {
      color: #35b558; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000370}}
      .header nav a:hover .arrow-icon {
        border-color: #35b558;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
        transition: 0.5s linear;
        -webkit-transition: 0.5s linear; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000381}}
.arrow-icon {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-left: 5px;
  border-left: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  transform-origin: 4px 4px;
  -webkit-transform-origin: 4px 4px;
  transform: rotate(-48deg);
  -webkit-transform: rotate(-48deg); }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\0000394}}
.downmenu {
  display: none;
  position: absolute;
  z-index: 1000;
  top: 60px;
  left: 0;
  background: #fff;
  font-size: 12px;
  color: #666;
  width: 280px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003104}}
  .downmenu a {
    display: block;
    height: 30px;
    line-height: 30px;
    padding: 0 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003112}}
h3 {
  display: block;
  font-size: 12px;
  background: #FaFaFa;
  margin: 10px 0;
  padding: 0 15px;
  height: 28px;
  line-height: 28px;
  font-weight: 300; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003123}}
.icon-box {
  position: relative;
  width: 200px;
  height: 60px;
  margin-right: 10px;
  text-align: right;
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003132}}
.downmenu-a, .search-icon, .search-icon:hover, .app-icon, .app-icon:hover, .login-icon {
  display: inline-block;
  width: 17px;
  height: 60px;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003139}}
.search-icon {
  background: url(../img/search.png) no-repeat;
  background-position: 0px 20px;
  background-size: 17px 17px;
  margin-left: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003145}}
  .search-icon:hover {
    background: url(../img/search2.png) no-repeat;
    background-position: 0px 20px;
    background-size: 17px 17px;
    margin-left: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003154}}
.app-icon {
  background: url(../img/app.png) no-repeat;
  background-size: 17px 17px;
  background-position: 0px 20px;
  margin-left: 25px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003160}}
  .app-icon:hover {
    background: url(../img/app2.png) no-repeat;
    background-position: 0px 20px;
    background-size: 17px 17px;
    margin-left: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003169}}
.login-icon {
  background: url(../img/login.png) no-repeat;
  background-size: 17px 17px;
  background-position: 25px 20px;
  padding-left: 25px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003177}}
.login-icon-down {
  display: none;
  position: absolute;
  right: 0px;
  top: 60px;
  z-index: 1000; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003183}}
  .login-icon-down li {
    display: block;
    position: relative;
    height: 30px;
    width: 100px;
    line-height: 30px;
    cursor: pointer;
    background: #fff;
    text-align: center;
    font-size: 12px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003193}}
    .login-icon-down li:hover {
      background: #ccc; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003195}}
      .login-icon-down li:hover a {
        color: #3cb85e; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003202}}
.pager {
  width: 100%;
  background: #F5F5F5;
  position: relative;
  clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003209}}
.pager-first {
  width: 1000px;
  position: relative;
  margin: 20px auto;
  clear: both;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003217}}
.pager-carousel {
  margin-right: 10px;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003222}}
.pager-floatright {
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003226}}
.enter {
  width: 238px;
  height: 160px;
  background: #FFF;
  border: 1px solid #e9e9e9;
  position: relative;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003233}}
  .enter img {
    width: 57px;
    height: 57px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003239}}
.welcom {
  float: left;
  height: 57px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003242}}
  .welcom .text-a, .welcom span, .welcom p {
    font-size: 12px;
    color: #555;
    line-height: 16px;
    height: 16px;
    width: 108px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003249}}
  .welcom span {
    margin-top: 8px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003253}}
  .welcom p {
    margin-top: 10px;
    text-align: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003260}}
.userinfor {
  display: inline-block;
  height: 57px;
  margin: 30px auto 15px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003264}}
  .userinfor a {
    display: block;
    width: 57px;
    height: 57px;
    float: left;
    margin-right: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003273}}
.enter-login,
.enter-register {
  display: inline-block;
  height: 32px;
  width: 85px;
  border: 1px solid #35b558;
  color: #35b558;
  border-radius: 3px;
  font-weight: 500;
  line-height: 32px;
  float: left;
  margin: 0px 15px auto 15px;
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003289}}
  .enter-login:hover,
  .enter-register:hover {
    background: #35b558;
    color: #fff;
    transition: all 1s; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003296}}
.activity {
  width: 240px;
  height: 160px;
  margin-top: 10px;
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003303}}
.career {
  position: relative;
  float: left;
  width: 100%;
  height: 150px;
  margin-top: 15px;
  margin-bottom: 15px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003310}}
  .career a {
    display: block;
    float: left;
    width: 327px;
    height: 70px;
    margin: 0 3px 10px 3px;
    transition: box-shadow 0.2s linear;
    -webkit-transition: box-shadow 0.2s linear; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003318}}
    .career a:nth-child(1) {
      background: url(../img/career-ban01.jpg);
      background-size: 327px 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003322}}
    .career a:nth-child(2) {
      background: url(../img/career-ban02.jpg);
      background-size: 327px 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003326}}
    .career a:nth-child(3) {
      background: url(../img/career-ban03.jpg);
      background-size: 327px 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003330}}
    .career a:nth-child(4) {
      background: url(../img/career-ban04.jpg);
      background-size: 327px 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003334}}
    .career a:nth-child(5) {
      background: url(../img/career-ban05.jpg);
      background-size: 327px 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003338}}
    .career a:nth-child(6) {
      background: url(../img/career-ban06.jpg);
      background-size: 327px 70px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003342}}
    .career a:hover {
      box-shadow: 1px 3px 7px #3F403F, -1px 3px 7px #3F403F; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003345}}
    .career a img {
      width: 55px;
      height: 55px;
      vertical-align: middle;
      margin-left: 30px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003351}}
    .career a p {
      display: inline-block;
      color: #fff;
      font-size: 14px;
      width: 204px;
      text-align: center;
      margin-left: 27px;
      line-height: 70px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003363}}
.pager-second {
  position: relative;
  width: 1000px;
  height: 270px;
  margin: 20px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003368}}
  .pager-second ul {
    width: 100%;
    height: 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003371}}
    .pager-second ul li {
      display: block;
      float: left;
      width: 235px;
      height: 100%;
      margin-left: 0;
      margin-right: 17px;
      border: 1px solid #e9e9e9;
      list-style: none;
      text-align: center;
      cursor: pointer;
      transition: box-shadow 0.4s linear;
      -webkit-transition: box-shadow 0.4s linear; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003384}}
      .pager-second ul li:nth-child(4) {
        margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003387}}
      .pager-second ul li:hover {
        box-shadow: 1px 2px 7px #3F403F, -1px 2px 10px #3F403F;
        transition: box-shadow 0.4s linear;
        -webkit-transition: box-shadow 0.4s linear; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003392}}
      .pager-second ul li img {
        width: 100%;
        height: 155px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003396}}
      .pager-second ul li p {
        width: 100%;
        overflow: hidden;
        font-size: 15px;
        color: #555;
        line-height: 30px;
        height: 80px;
        text-align: center;
        margin-top: 20px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003410}}
.pager-third {
  width: 1000px;
  margin: 40px auto 20px auto;
  position: relative;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003416}}
  .pager-third ul li {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 0.2s linear;
    -webkit-transition: 0.2s linear;
    width: 345px;
    height: 135px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003425}}
    .pager-third ul li:nth-child(1) {
      background: url(../img/daniu_01.jpg);
      background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003429}}
    .pager-third ul li:nth-child(2) {
      width: 140px;
      background: url(../img/daniu_02.jpg);
      background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003434}}
    .pager-third ul li:nth-child(3) {
      background: url(../img/daniu_03.jpg);
      background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003438}}
    .pager-third ul li:nth-child(4) {
      width: 140px;
      margin-right: 0;
      background: url(../img/daniu_04.jpg);
      background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003444}}
    .pager-third ul li:nth-child(5) {
      background: url(../img/daniu_05.jpg);
      background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003448}}
    .pager-third ul li:nth-child(6) {
      background: url(../img/daniu_06.jpg);
      background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003452}}
    .pager-third ul li:nth-child(7) {
      width: 140px;
      background: url(../img/daniu_07.jpg);
      background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003457}}
    .pager-third ul li:nth-child(8) {
      width: 140px;
      margin-right: 0;
      background: url(../img/daniu_08.jpg);
      background-size: 100% 100%; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003463}}
    .pager-third ul li:hover {
      box-shadow: 60px 60px 60px rgba(50, 50, 50, 0.2) inset, -60px -60px 60px rgba(50, 50, 50, 0.2) inset;
      transition: 0.2s linear;
      -webkit-transition: 0.2s linear; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003468}}
    .pager-third ul li a {
      width: 100%;
      height: 50%;
      text-align: center;
      font-weight: 600;
      color: #fff;
      font-size: 16px;
      float: left;
      margin-top: 48px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003477}}
      .pager-third ul li a span {
        display: block;
        font-size: 13px;
        text-align: center;
        margin-top: 8px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003488}}
.pager-fourth {
  position: relative;
  width: 1000px;
  margin: 20px auto 20px auto;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003494}}
  .pager-fourth ul li {
    position: relative;
    display: block;
    float: left; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003498}}
    .pager-fourth ul li:nth-child(1) {
      width: 620px;
      height: 135px;
      background: #df5a49; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003503}}
    .pager-fourth ul li:nth-child(2) {
      width: 380px;
      height: 135px;
      background: #efc94c; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003508}}
    .pager-fourth ul li:nth-child(3) {
      width: 620px;
      height: 135px;
      background: #e27a3f; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003513}}
    .pager-fourth ul li:nth-child(4) {
      width: 380px;
      height: 135px;
      background: #45b29d; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003518}}
    .pager-fourth ul li a {
      position: relative;
      height: 100%;
      width: 100%;
      display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003528}}
.mogui-hover1,
.mogui-hover2,
.mogui-hover3,
.mogui-hover4 {
  height: 100%;
  width: 100%;
  position: absolute;
  float: left;
  left: 0;
  z-index: 2;
  background: rgba(73, 169, 68, 0);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003543}}
.mogui-li-1:hover .mogui-hover1 {
  background: rgba(73, 169, 68, 0.34);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003549}}
.mogui-li-2:hover .mogui-hover2 {
  background: rgba(73, 169, 68, 0.34);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003555}}
.mogui-li-3:hover .mogui-hover3 {
  background: rgba(73, 169, 68, 0.34);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003561}}
.mogui-li-4:hover .mogui-hover4 {
  background: rgba(73, 169, 68, 0.34);
  transition: 0.5s linear;
  -webkit-transition: 0.5s linear; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003567}}
.mogui-img1,
.mogui-img2,
.mogui-img3 {
  display: block;
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003574}}
.mogui-img4 {
  display: block;
  float: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003579}}
.mogui-span-a, .mogui-span1,
.mogui-span2, .mogui-span3, .mogui-span4 {
  display: block;
  line-height: 28px;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin-top: 74px;
  margin-left: 15px; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003589}}
.mogui-span1,
.mogui-span2 {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003595}}
.mogui-span3 {
  float: left;
  font-weight: 600; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003601}}
.mogui-span4 {
  float: right;
  font-weight: 600;
  text-align: right; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003608}}
.pager-fifth {
  position: relative;
  width: 1000px;
  margin: 20px auto 20px auto;
  overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003613}}
  .pager-fifth ul {
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003615}}
    .pager-fifth ul li {
      float: left;
      width: 150px;
      height: 50px;
      border: 1px solid #e9e9e9;
      background: #fff;
      margin-right: 17px;
      margin-bottom: 10px;
      list-style: none;
      transition: 0.2s linear;
      -webkit-transition: 0.2s linear; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003626}}
      .pager-fifth ul li:nth-child(1), .pager-fifth ul li:nth-child(7) {
        margin-left: 1px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003630}}
      .pager-fifth ul li:nth-child(6), .pager-fifth ul li:nth-child(12) {
        margin-right: 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003634}}
      .pager-fifth ul li:hover {
        box-shadow: 1px 1px 5px;
        -webkit-transition: 0.2s linear;
        transition: 0.2s linear; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003639}}
      .pager-fifth ul li a {
        display: block;
        height: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003647}}
.hezuo-img-1 {
  background: url(../img/hezuo-1.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003651}}
.hezuo-img-2 {
  background: url(../img/hezuo-2.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003655}}
.hezuo-img-3 {
  background: url(../img/hezuo-3.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003659}}
.hezuo-img-4 {
  background: url(../img/hezuo-4.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003663}}
.hezuo-img-5 {
  background: url(../img/hezuo-5.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003667}}
.hezuo-img-6 {
  background: url(../img/hezuo-6.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003671}}
.hezuo-img-7 {
  background: url(../img/hezuo-7.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003675}}
.hezuo-img-8 {
  background: url(../img/hezuo-8.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003679}}
.hezuo-img-9 {
  background: url(../img/hezuo-9.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003683}}
.hezuo-img-10 {
  background: url(../img/hezuo-10.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003687}}
.hezuo-img-11 {
  background: url(../img/hezuo-11.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003691}}
.hezuo-img-12 {
  background: url(../img/hezuo-12.png) no-repeat center; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003695}}
.footer {
  position: relative;
  bottom: 10px;
  background: pink;
  width: 100%;
  height: 299px;
  border-top: 1px solid #e4e4e4;
  background: #fff;
  margin: 20px auto 10px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003706}}
.fw-1000 {
  position: relative;
  width: 1000px;
  overflow: hidden;
  border-bottom: solid 1px #E8E7E7;
  margin: 20px auto 40px auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003714}}
.f-left {
  float: left;
  width: 200px;
  height: 180px;
  text-align: center; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003719}}
  .f-left img {
    width: 109px;
    height: 40px;
    display: block;
    margin: 5px auto 10px auto; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003725}}
  .f-left p {
    font-size: 12px;
    color: #999; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003731}}
.f-right {
  float: left;
  width: 800px;
  height: 180px;
  position: relative; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003736}}
  .f-right ul {
    height: 100%;
    width: 135px;
    display: block;
    float: left;
    margin: 0 20px 0 0; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003742}}
    .f-right ul li {
      margin-bottom: 10px; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003744}}
      .f-right ul li a {
        font-size: 12px;
        color: #999; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003747}}
        .f-right ul li a:hover {
          color: #35b558; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003755}}
.f-right-tel {
  float: left; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003759}}
.f-right-tel p {
  color: #999; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003763}}
.f-bottom {
  clear: both;
  text-align: center;
  font-size: 12px;
  color: #999; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/septe\/Desktop\/jikexueyuan\/sass\/jikexueyuan\.scss}line{font-family:\00003768}}
  .f-bottom img {
    display: block;
    margin: auto;
    width: 60px;
    margin-top: 15px; }

/*# sourceMappingURL=jikexueyuan.css.map */
