@charset "utf-8";

/* CSS Document */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font: 12px Arial;
}

.wrapper {
    height: 100%;
    position: relative;
}


.content {
    position: relative;
    margin:10px 30px 10px 30px;
}

.contentbox {
    position: relative;
}

.contentbox img {
    width: 101px;
    clear: both;
    margin:8px 10px 20px 0;
    display:inline-block;
}

#form {
    position: absolute;
    top:14px;
    left: 134px;
    width: 500px;
}


/*相机*/

.camera-btn {
    width: 18px;
    height: 18px;
    background: url(../img/camera.png);
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 105px;
}

.camera-btn:hover {
    width: 18px;
    height: 18px;
    background: url(../img/camera.png);
    background-position: 0 18px;
    position: absolute;
    top: 9px;
    right: 105px;
}


/*百度搜索框*/

.content .s-camtext {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.content .s-text {
    width: 100%;
    height: 32px;
    border: 1px solid #CCC;
    border-right-width: 0;
    font-size: 20px;
    padding: 0px;
    padding-left: 1px\9;
    line-height: 32px\9;
    outline: 0;
    text-indent: 7px;
}

.content .s-text:hover {
    border-color: #999;
}

.content .s-text:focus {
    border-color: #38f;
}


/*百度一下按钮*/

.content .s-btn {
    position: absolute;
    top:0;
    right: 0;
}

.content .s-submit {
    width: 100px;
    height: 32px;
    border: 0;
    border-radius: 0;
    background: #3385ff;
    color: #fff;
    padding: 0;
    font-size: 15px;
    outline: 0;
    cursor: pointer;
}


.container{
    position: relative;
    float: left;
}
.box{
    float: left;
    position: relative;
}
.box-content{
    padding: 10px;
    border:1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    border-radius: 5px;
}
.box-content img{
    width: 190px;
    height: auto;
}
